.sidebar-nav {
    font-family: 'ruda', sans-serif;
    text-align: center;
    font-weight: 700;
}

.sidebar-main-bucket {
    background-color: #5FBB46;
    font-size: 15px;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.sidebar-nav a {
    background-color: #F3F3F3;
    font-size: 12px;
    display: block;
    padding-top:5px;
    padding-bottom: 5px;
    color: #58595B;
}
.active-link {
    color: #5FBB46 !important;
}
.sidebar-nav a:hover {
    text-decoration: none;
    background-color: #58595b;
    color: #FFFFFF;
}

