<div class="row">
  <div class="col-md-2">
    <app-side-bar [menuItemId]="sideMenuItemId"></app-side-bar>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <h1>Strategy Plan</h1>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-12">
        <button class="btn btn-schenck" (click)=startPlanButton()>Start New Plan</button>
      </div>
    </div>
    <div class="row" style="margin-top: 20px" *ngIf="startPlanMode">
      <div class="col-md-12">
      <form novalidate (ngSubmit)="startNewPlan(strategyPlanForm)" [formGroup]="strategyPlanForm">
        <div class="form-group">
          <label for="strategyPlanTitle">Title</label>
          <input type="text" class="form-control" formControlName="Title" id="strategyPlanTitle" placeholder="Title of new strategy plan">
        </div>
        <div class="form-group">
          <label for="knownAs">Known As</label>
          <select class="form-control" id="knownAs" formControlName="KnownAsId">
            <option *ngFor="let item of knownAsLookup" [selected]="item.KnownAsId == knownAs" [value]="item.KnownAsId">{{item.KnownValue}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="famous">Famous</label>
          <textarea class="form-control" id="famous" formControlName="Famous"></textarea>
        </div>
        <button type="submit" [disabled]="strategyPlanForm.invalid" class="btn btn-schenck">Submit</button>
      </form>
      </div>
    </div>
  </div>
</div>