<div class="row">
  <div class="col-md-2">
    <app-side-bar [menuItemId]="sideMenuItemId"></app-side-bar>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <h1>Individual Business Development Plan</h1>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-12">
        <button class="btn btn-schenck" (click)=startPlanButton()>Start New Plan</button>
      </div>
    </div>
    <div class="row" style="margin-top: 20px" *ngIf="startPlanMode">
      <div class="col-md-12">
        <form novalidate (ngSubmit)="createNewPlan(strategyPlanForm)" [formGroup]="strategyPlanForm">
          <div class="form-group">
            <label for="strategyPlanTitle">Title</label>
            <input type="text" class="form-control" formControlName="Title" id="strategyPlanTitle" placeholder="Title of new strategy plan">
          </div>
          <div class="form-group">
            <label for="knownAs">Known As</label>
            <select class="form-control" id="knownAs" formControlName="KnownAsId">
            <option *ngFor="let item of knownAsLookup" [selected]="item.Id == KnownAsId" [value]="item.Id">{{item.Value}}</option>
          </select>
          </div>
          <div class="form-group">
            <label for="famous">Famous</label>
            <textarea class="form-control" id="famous" formControlName="Famous"></textarea>
          </div>
          <button type="submit" [disabled]="strategyPlanForm.invalid" class="btn btn-schenck">Submit</button>
        </form>
      </div>
    </div>
    <div style="margin-top: 20px" *ngIf="currentPlanMode">
      <div class="row">
        <div class="col-md-6 offset-md-4">
          <span>Last modified: {{currentStrategyPlan?.DisplayDateModified}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form novalidate (ngSubmit)="editCurrentPlan(currentPlanForm)" [formGroup]="currentPlanForm">
            <div class="form-group">
              <label for="strategyPlanTitle">Title</label>
              <input type="text" class="form-control" formControlName="Title" id="strategyPlanTitle" placeholder="Title of new strategy plan">
            </div>
            <div class="form-group">
              <label for="knownAs">Known As</label>
              <select class="form-control" id="knownAs" formControlName="KnownAsId">
            <option *ngFor="let item of knownAsLookup" [selected]="item.Id == KnownAsId" [value]="item.Id">{{item.Value}}</option>
          </select>
            </div>
            <div class="form-group">
              <label for="famous">Famous</label>
              <textarea class="form-control" id="famous" formControlName="Famous"></textarea>
            </div>
            <button type="submit" [disabled]="currentPlanForm.invalid" class="btn btn-schenck">Update</button>
          </form>
        </div>
      </div>  
    </div>
    <section *ngIf="currentPlanMode">
      <app-action-items [currentPlanId]="currentStrategyPlan?.PlanId"></app-action-items>
      <app-events [currentPlanId]="currentStrategyPlan?.PlanId"></app-events>
      <app-client-contacts></app-client-contacts>
    </section>
  </div>
</div>

<!--modals below -->
<!--confirm new plan start modal -->
<div bsModal #savePlanModal="bs-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Save Current Plan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This will save the current plan and create a new plan.</p>
        <p>Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-schenck">Yes</button>
        <button type="button" class="btn btn-danger" (click)="hideConfirmModal()">No</button>
      </div>
    </div>
  </div>
</div>
