<div class="row">
  <div class="col-md-2">
    <app-side-bar [menuItemId]="sideMenuItemId"></app-side-bar>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <h1>Individual Business Development Plan</h1>
      </div>
    </div>
    <div class="row" style="margin-top: 20px" *ngIf="mentorView">
      <div class="col-md-6">
        <h2>Teammembers currently mentoring</h2>
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tm of mentorshipList">
              <td>{{tm.TeamMember.LastFirstName}}</td>
              <td><span class="cursor" (click)="viewMenteePlan(tm.TeamMember.TeamMemberId)">View Plan</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="planView">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-12">
        <button class="btn btn-schenck" (click)=newPlan()>Start New Plan</button>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
          <span>Last Modfied: {{currentPlan?.DisplayDateModified}}</span>
        </div>
      <div class="col-md-12">
        <form novalidate (ngSubmit)="createPlan(strategyPlanForm)" [formGroup]="strategyPlanForm">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" formControlName="Title" placeholder="Title of new strategy plan">
            <small class="form-text alert-danger" *ngIf="strategyPlanForm.get('Title').hasError('required') && strategyPlanForm.get('Title').touched">Title is required</small>
            <small class="form-text alert-danger" *ngIf="strategyPlanForm.get('Title').hasError('maxlength') && strategyPlanForm.get('Title').touched">Title should be less than 75 characters</small>
          </div>
          <div class="form-group">
            <label>Known As</label>
            <select class="form-control" formControlName="KnownAsId">
            <option *ngFor="let item of knownAsLookup" [selected]="item.Id == KnownAsId" [value]="item.Id">{{item.Value}}</option>
          </select>
          </div>
          <div class="form-group">
            <label>Famous</label>
            <textarea class="form-control" formControlName="Famous"></textarea>
            <small class="form-text alert-danger" *ngIf="strategyPlanForm.get('Famous').hasError('maxlength') && strategyPlanForm.get('Famous').touched">Keep famous description below 200 characters</small>
          </div>
          <button type="submit" [disabled]="strategyPlanForm.invalid" class="btn btn-schenck">{{formTitle}}</button>
        </form>
      </div>
    </div>
    <section *ngIf="planExists">
      <app-action-items [currentPlanId]="currentPlan.PlanId"></app-action-items>
      <app-events 
      [currentPlanId]="currentPlan?.PlanId"
      [currentEvents]="currentPlan?.StrategyEvents"></app-events>
      <app-client-contacts [currentPlanId]="currentPlan?.PlanId"></app-client-contacts>
    </section>
    </div>
  </div>
</div>

<!--modals below -->
<!--confirm new plan start modal -->
<div bsModal #savePlanModal="bs-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Save Current Plan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideConfirmModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This will save the current plan and create a new plan.</p>
        <p>Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-schenck">Yes</button>
        <button type="button" class="btn btn-danger" (click)="hideConfirmModal()">No</button>
      </div>
    </div>
  </div>
</div>
