<div class="row">
  <div class="col-md-2">
    <app-side-bar [menuItemId]="sideMenuItemId"></app-side-bar>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <h1>Marketing Member Admin</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="mentorshipForm" (ngSubmit)="mentorshipFormSubmit(mentorshipForm.value)">
          <div class="form-group">
            <label>Marketing Team Member:</label>
            <select class="form-control" formControlName="MentorId">
              <option *ngFor="let member of mentors" [selected]="member.TeamMemberId == MentorId" [value]="member.TeamMemberId">{{member.LastFirstName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Active Teammembers</label>
            <input ng2-auto-complete
                  formControlName="TeamMemberId"
                  [source]="activeTeamMembers"
                  [list-formatter]="teamMemberListFormatter"
                  value-property-name="TeamMemberId"
                  display-property-name="LastFirstName"
                  max-num-list= 10
                  placeholder="Search for team member to mentor"
                  class="form-control">
          </div>

          <button type="submit" class="btn btn-schenck">Assign</button>
        </form>
      </div>
    </div>
    <div class="row" style="margin-top:20px">
      <div class="col-md-12">
        <h2>Teammembers currently mentoring</h2>
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tm of mentorshipList">
              <td>{{tm.TeamMember.LastFirstName}}</td>
              <td>remove</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>