<div class="row">
  <div class="col-md-2">
    <app-side-bar [menuItemId]="menuItemId"></app-side-bar>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-top: 20px">
        <app-client-search></app-client-search>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-top: 40px">
        <app-client-list-table></app-client-list-table>
      </div>
    </div>
  </div>
</div>