<div class="row">
    <div class="col-md-2">
        <app-side-bar [menuItemId]="sideMenuItemId"></app-side-bar>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <h1>Mentor Strategy Plan</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Teammembers currently mentoring</h2>
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tm of mentorshipList">
                            <td>{{tm.TeamMember.LastFirstName}}</td>
                            <td><span class="cursor" (click)="onViewMenteePlan(tm.TeamMember)">View Plan</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" *ngIf="viewPlan">
            <div class="col-md-12 text-center">
                <h2>Viewing Plan of: {{menteeName}}</h2>
            </div>
            <div class="col-md-12">
                <app-plan-header [teamMemberId]="menteeId"></app-plan-header>
            </div>
        </div>
    </div>
</div>