.box {
    border: 2px solid rgba(0, 175, 237, 0.15);
    font-size: 14px;
    font-weight: 400px;
    height: 38px;
    padding-left: 10px;
}

.box-span {
    vertical-align: middle;
    line-height: 38px;
}

.calc-headers-scores {
    color: #7F3F98;
    text-transform: uppercase;
    line-height: 14px;
    font-size: 14px;
    display: inline-block;
    min-height: 30px;
    margin-left:2px;
}

.score-box-yellow {
    border: 2px solid rgba(112, 112, 112, 0.15);
    background-color: rgba(255, 198, 11, 0.15);
    height: 26px;
    text-align: center;
}

.score-box-spacer {
    height: 26px;
    color: #fff; 
}

.score-box-grey {
    border: 2px solid rgba(112, 112, 112, 0.15);
    background-color: rgba(112, 112, 112, 0.15);
    height: 26px;
    text-align: center;
}

.score-box-blue {
    border: 2px solid rgba(0, 175, 237, 0.15);
    background-color: #fff;
    height: 26px;
    text-align: center;
}

.progress-bar {
    height: 26px;
}

.range-text {
    font-size: 1rem;
}

.data-point {
    text-transform: uppercase;
    line-height: 14px;
    font-weight: 400;
    font-size: 12.5px;
    margin-top: 10px;
}

.progress {
    font-size: 1rem;
    line-height: 1.5rem;
}

.form-control {
    font-size: 1rem;
}