<div class="row">
  <div class="col-md-2">
    <app-side-bar [menuItemId]="sideMenuItemId"></app-side-bar>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <h1>Tiering Calculator</h1>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-5">
        <h2>Parent</h2>
      </div>
      <div class="col-md-3">
        <h2>Tier</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="box">
          <span class="box-span">{{parentAnalysisData?.ClientName}}</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <span class="box-span">{{clientTierScore?.Tier.Score}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-schenck btn-block" (click)="reset()">Reset Values</button>
      </div>
    </div>
    <div class="row" style="margin-top: 25px">
      <div class="col-md-2">
        <h2>Billings</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Score</span>
        </div>
        <div class="score-box-grey">
          <span>{{clientTierScore?.BillingScore.Score}}</span>
        </div>
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Wgtd</span>
        </div>
        <div class="score-box-weighted">
          <span>{{clientTierScore?.BillingScore.Weighted}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="calc-headers-scores">
          <span>Original Value</span>
        </div>
        <div class="score-box-grey">
          <span>{{parentAnalysisData?.Billings | currency: 'USD': true: '1.0-0'}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="calc-headers-scores">
          <span>Test Value</span>
        </div>
        <input type="text" class="form-control score-box-blue" [(ngModel)]="billingValue" id="billing-test-val" (change)="updateBilling()">
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>lower</span>
        </div>
        <span class="range-text">{{clientTierScore?.BillingScore.MinValue | currency: 'USD': true: '1.0-0'}}</span>
      </div>
      <div class="col-md-4">
        <div class="calc-headers-scores">
          <span>Progress</span>
        </div>
        <div class="progress">
          <div class="progress-bar" [ngClass]="{'red': clientTierScore?.BillingScore.Score == 0 || 1, 'orange': clientTierScore?.BillingScore.Score == 2, 'yellow': clientTierScore?.BillingScore.Score == 3, 'yellow-green': clientTierScore?.BillingScore.Score == 4, 'green': clientTierScore?.BillingScore.Score == 5 }" role="progressbar" [style.width]="clientTierScore?.BillingScore.ProgressPercent | percent">{{displayData?.Billings | currency: 'USD': true: '1.0-0'}} </div>
        </div>
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>upper</span>
        </div>
        <span class="range-text">{{clientTierScore?.BillingScore.MaxValue | currency: 'USD': true: '1.0-0'}}</span>
      </div>
    </div>
    <div *ngIf="doesClientHaveChildren()">
      <div class="row">
        <div class="col-md-4">
          <a class="childExpand" data-toggle="collapse" href="#child-billing" aria-expanded="false" tabindex="-1">View Child Billing Data</a>
        </div>
      </div>
      <div class="collapse" id="child-billing">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Client Name</th>
              <th>Billings</th>
              <th>Adjustments</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let child of parentAnalysisData?.Children">
              <td>{{child.ClientName}}</td>
              <td>${{child.Billings | number:'1.0-0' | negativeToParenthesis }}</td>
              <td>${{child.Adjustments | number:'1.0-0' | negativeToParenthesis}}</td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="margin-top: 25px">
      <div class="col-md-2">
        <h2>Realization</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="score-box-grey">
          <span>{{clientTierScore?.RealizationScore.Score}}</span>
        </div>
      </div>
      <div class="col-md-2 offset-md-1">
        <div class="score-box-grey">
          <span>{{parentAnalysisData?.Realization | number:'1.1-1'}}%</span>
        </div>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control score-box-blue" [(ngModel)]="realizationValue" id="realization-test-val" (change)="updateRealization()">
      </div>
      <div class="col-md-1">
        <span class="range-text">{{clientTierScore?.RealizationScore.MinValue | number:'1.1-1'}}%</span>
      </div>
      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar" [ngClass]="{'red': clientTierScore?.RealizationScore.Score == 0 || 1, 'orange': clientTierScore?.RealizationScore.Score == 2, 'yellow': clientTierScore?.RealizationScore.Score == 3, 'yellow-green': clientTierScore?.RealizationScore.Score == 4, 'green': clientTierScore?.RealizationScore.Score == 5 }" role="progressbar" [style.width]="clientTierScore?.RealizationScore.ProgressPercent | percent">{{displayData?.Realization | number:'1.1-1'}}% </div>
        </div>
      </div>
      <div class="col-md-1">
        <span class="range-text">{{clientTierScore?.RealizationScore.MaxValue | number:'1.1-1'}}%</span>
      </div>
    </div>
    <div *ngIf="doesClientHaveChildren()">
      <div class="row">
        <div class="col-md-4">
          <a class="childExpand" data-toggle="collapse" href="#child-realization" aria-expanded="false" tabindex="-1">View Child Realization Data</a>
        </div>
      </div>
      <div class="collapse" id="child-realization">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Client Name</th>
              <th>Realization</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let child of parentAnalysisData?.Children">
              <td>{{child.ClientName}}</td>
              <td>{{child.Realization | number:'1.1-1'}}%</td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="margin-top: 25px">
      <div class="col-md-4">
        <h2>Billing Realization Multiplier</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="score-box-grey">
          <span>{{clientTierScore?.MultiplierScore.Score}}</span>
        </div>
      </div>
      <div class="col-md-1">
        <div class="score-box-weighted">
          <span>{{clientTierScore?.MultiplierScore.Weighted}}</span>
        </div>
      </div>
      <div class="col-md-1 offset-md-4">
        <span class="range-text">{{clientTierScore?.MultiplierScore.MinValue}}</span>
      </div>
      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar" [ngClass]="{'red': clientTierScore?.MultiplierScore.Score == 0 || 1, 'orange': clientTierScore?.MultiplierScore.Score == 2, 'yellow': clientTierScore?.MultiplierScore.Score == 3, 'yellow-green': clientTierScore?.MultiplierScore.Score == 4, 'green': clientTierScore?.MultiplierScore.Score == 5 }" role="progressbar" [style.width]="clientTierScore?.MultiplierScore.ProgressPercent | percent">{{clientTierScore?.MultiplierScore.Weighted}}</div>
        </div>
      </div>
      <div class="col-md-1">
        <span class="range-text">{{clientTierScore?.MultiplierScore.MaxValue}}</span>
      </div>
    </div>
    <div class="row" style="margin-top: 25px">
      <div class="col-md-2">
        <h2>Work Timing</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="score-box-grey">
          <span>{{clientTierScore?.TimelinessScore.Score }}</span>
        </div>
      </div>
      <div class="col-md-1">
        <div class="score-box-weighted">
          <span>{{clientTierScore?.TimelinessScore.Weighted}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="score-box-grey">
          <span>{{parentAnalysisData?.PeakPercent | number:'1.1-1'}}%</span>
        </div>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control score-box-blue" [(ngModel)]="workTimingValue" id="work-timing-test-val" (change)="updateWorkTiming()">
      </div>
      <div class="col-md-1">
        <span class="range-text">{{clientTierScore?.TimelinessScore.MaxValue | number:'1.1-1'}}%</span>
      </div>
      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar" [ngClass]="{'red': clientTierScore?.TimelinessScore.Score == 0 || 1, 'orange': clientTierScore?.TimelinessScore.Score == 2, 'yellow': clientTierScore?.TimelinessScore.Score == 3, 'yellow-green': clientTierScore?.TimelinessScore.Score == 4, 'green': clientTierScore?.TimelinessScore.Score == 5 }" role="progressbar" [style.width]="clientTierScore?.TimelinessScore.ProgressPercent | percent">{{displayData?.PeakPercent | number:'1.1-1'}}% </div>
        </div>
      </div>
      <div class="col-md-1">
        <span class="range-text">{{clientTierScore?.TimelinessScore.MinValue | number:'1.1-1'}}%</span>
      </div>
    </div>
    <div *ngIf="doesClientHaveChildren()">
      <div class="row">
        <div class="col-md-4">
          <a class="childExpand" data-toggle="collapse" href="#child-work-timing" aria-expanded="false" tabindex="-1">View Child Work Timing Data</a>
        </div>
      </div>
      <div class="collapse" id="child-work-timing">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Client Name</th>
              <th>Busy Season Hours</th>
              <th>Non-Peak Season Hours</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let child of parentAnalysisData?.Children">
              <td>{{child.ClientName}}</td>
              <td>{{child.BusySeasonHours | number:'1.1-1'}}</td>
              <td>{{child.NormalHours | number:'1.1-1'}}</td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="margin-top: 25px">
      <div class="col-md-3">
        <h2>Service Touches</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="score-box-grey">
          <span>{{clientTierScore?.ServiceTouchesScore.Score}}</span>
        </div>
      </div>
      <div class="col-md-1">
        <div class="score-box-weighted">
          <span>{{clientTierScore?.ServiceTouchesScore.Weighted}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="score-box-grey">
          <span>{{parentAnalysisData?.ServiceTouchCount}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control score-box-blue" [(ngModel)]="serviceTouch" id="service-test-val" (change)="updateService()">
      </div>
      <div class="col-md-1">
        <span class="range-text">{{clientTierScore?.ServiceTouchesScore.MinValue}}</span>
      </div>
      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar" [ngClass]="{'red': clientTierScore?.ServiceTouchesScore.Score == 0 || 1, 'orange': clientTierScore?.ServiceTouchesScore.Score == 2, 'yellow': clientTierScore?.ServiceTouchesScore.Score == 3, 'yellow-green': clientTierScore?.ServiceTouchesScore.Score == 4, 'green': clientTierScore?.ServiceTouchesScore.Score == 5 }" role="progressbar" [style.width]="clientTierScore?.ServiceTouchesScore.ProgressPercent | percent">{{displayData?.ServiceTouchCount }} </div>
        </div>
      </div>
      <div class="col-md-1">
        <span class="range-text">{{clientTierScore?.ServiceTouchesScore.MaxValue}}</span>
      </div>
    </div>
    <div *ngIf="doesClientHaveChildren()">
      <div class="row">
        <div class="col-md-4">
          <a class="childExpand" data-toggle="collapse" href="#service-touches" aria-expanded="false" tabindex="-1">View Associated Services</a>
        </div>
      </div>
      <div class="collapse" id="service-touches">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Service Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let serviceTouch of parentAnalysisData?.ServiceTouches">
              <td>{{serviceTouch.Service}}</td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="margin-top: 25px">
      <div class="col-md-3">
        <h2>Payment Timeliness</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="score-box-grey">
          <span>{{clientTierScore?.PaymentScore.Score}}</span>
        </div>
      </div>
      <div class="col-md-1">
        <div class="score-box-weighted">
          <span>{{clientTierScore?.PaymentScore.Weighted}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="score-box-grey">
          <span>{{parentAnalysisData?.PaymentTimeliness}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control score-box-blue" [(ngModel)]="payment" id="payment-test-val" (change)="updatePayment()">
      </div>
      <div class="col-md-1">
        <span class="range-text">{{clientTierScore?.PaymentScore.MaxValue}}</span>
      </div>
      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar" [ngClass]="{'red': clientTierScore?.PaymentScore.Score == 0 || 1, 'orange': clientTierScore?.PaymentScore.Score == 2, 'yellow': clientTierScore?.PaymentScore.Score == 3, 'yellow-green': clientTierScore?.PaymentScore.Score == 4, 'green': clientTierScore?.PaymentScore.Score == 5 }" role="progressbar" [style.width]="clientTierScore?.PaymentScore.ProgressPercent | percent">{{displayData?.PaymentTimeliness}}</div>
        </div>
      </div>
      <div class="col-md-1">
        <span class="range-text">{{clientTierScore?.PaymentScore.MinValue}}</span>
      </div>
    </div>
    <div *ngIf="doesClientHaveChildren()">
      <div class="row">
        <div class="col-md-4">
          <a class="childExpand" data-toggle="collapse" href="#child-payment" aria-expanded="false" tabindex="-1">View Child Payment Timeliness Data</a>
        </div>
      </div>
      <div class="collapse" id="child-payment">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Client Name</th>
              <th>Timeliness</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let child of parentAnalysisData?.Children">
              <td>{{child.ClientName}}</td>
              <td>{{child.Timeliness}}</td>
            </tr> 
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="margin-top: 25px">
      <div class="col-md-2">
        <h2>Total Score</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 offset-md-1">
        <div class="score-box-weighted">
          <span>{{clientTierScore?.Tier.Weighted}}</span>
        </div>
      </div>
      <div class="col-md-1 offset-md-4">
        <span class="range-text">{{clientTierScore?.Tier.MinValue}}</span>
      </div>
      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar" [ngClass]="{'red': clientTierScore?.Tier.Score == 5, 'orange': clientTierScore?.Tier.Score == 5, 'yellow': clientTierScore?.Tier.Score == 3, 'yellow-green': clientTierScore?.Tier.Score == 2, 'green': clientTierScore?.Tier.Score == 1 }" role="progressbar" [style.width]="clientTierScore?.Tier.ProgressPercent | percent">{{clientTierScore?.Tier.Weighted}}</div>
        </div>
      </div>
      <div class="col-md-1">
        <span class="range-text">{{clientTierScore?.Tier.MaxValue}}</span>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-5">
        <h2>Parent</h2>
      </div>
      <div class="col-md-3">
        <h2>Tier</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="box">
          <span class="box-span">{{parentAnalysisData?.ClientName}}</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <span class="box-span">{{clientTierScore?.Tier.Score}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-schenck btn-block" (click)="reset()">Reset Values</button>
      </div>
    </div>
  </div>