<div class="row">
  <div class="col-md-2">
    <app-side-bar [menuItemId]="menuItemId"></app-side-bar>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ title }}</h1>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-5">
        <h2>Parent</h2>
      </div>
      <div class="col-md-3">
        <h2>Tier</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="box">
          <span class="box-span">{{parentAnalysisData?.ClientName}}</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <span class="box-span">{{clientTierScore?.Tier.Score}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <button class="btn btn-schenck btn-block" (click)="reset()">Reset Values</button>
      </div>
    </div>
    <div class="row" style="margin-top: 43px">
      <div class="col-md-2">
        <h2>Billings</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Score</span>
        </div>
        <div class="score-box-yellow">
          <span>{{clientTierScore?.BillingScore.Score}}</span>
        </div>
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Weighted</span>
        </div>
        <div class="score-box-grey">
          <span>{{clientTierScore?.BillingScore.Weighted}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="calc-headers-scores">
        <span>Original Value</span>
        </div>
        <div class="score-box-grey">
          <span>{{parentAnalysisData?.Billings | currency: 'USD': true}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="calc-headers-scores">
        <span>Test Value</span>
        </div>
        <input type="text" class="form-control score-box-blue" [(ngModel)]="billingVal" id="billing-test-val" (change)="updateBilling()">
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Min</span>
        </div>
        <span class="range-text">{{clientTierScore?.BillingScore.MinValue | currency: 'USD': true}}</span>
      </div>
      <div class="col-md-4">
        <div class="calc-headers-scores">
          <span>Progress</span>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="clientTierScore?.BillingScore.ProgressPercent | percent">{{displayData?.Billings | currency: 'USD': true}} </div>
        </div>
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Max</span>
        </div>
        <span class="range-text">{{clientTierScore?.BillingScore.MaxValue | currency: 'USD': true}}</span>
      </div>
    </div>
    <div class="row" style="margin-top: 43px">
      <div class="col-md-2">
        <h2>Realization</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Score</span>
        </div>
        <div class="score-box-yellow">
          <span>{{clientTierScore?.RealizationScore.Score}}</span>
        </div>
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Weighted</span>
        </div>
        <div class="score-box-grey">
          <span>N/A</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="calc-headers-scores">
          <span>Original Value</span>
        </div>
        <div class="score-box-grey">
          <span>{{parentAnalysisData?.Realization}}%</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="calc-headers-scores">
          <span>Test Value</span>
        </div>
        <input type="text" class="form-control score-box-blue" [(ngModel)]="realizationVal" id="realization-test-val" (change)="updateRealization()">
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
        </div>
        <span class="range-text">{{clientTierScore?.RealizationScore.MinValue}}%</span>
      </div>
      <div class="col-md-4">
        <div class="calc-headers-scores">
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="clientTierScore?.RealizationScore.ProgressPercent | percent">{{displayData?.Realization}}% </div>
        </div>
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
        </div>
        <span class="range-text">{{clientTierScore?.RealizationScore.MaxValue}}%</span>
      </div>
    </div>
    <div class="row" style="margin-top: 43px">
      <div class="col-md-4">
        <h2>Billing Realization Multiplier</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Score</span>
        </div>
        <div class="score-box-yellow">
          <span>{{clientTierScore?.MultiplierScore.Score}}</span>
        </div>
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Weighted</span>
        </div>
        <div class="score-box-grey">
          <span>{{clientTierScore?.MultiplierScore.Weighted}}</span>
        </div>
      </div>
      <div class="col-md-1 offset-md-4">
         <div class="calc-headers-scores">
        </div>
        <span class="range-text">{{clientTierScore?.MultiplierScore.MinValue}}</span>
      </div>
      <div class="col-md-4">
         <div class="calc-headers-scores">
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="clientTierScore?.MultiplierScore.ProgressPercent | percent">{{clientTierScore?.MultiplierScore.Weighted}}</div>
        </div>
      </div>
      <div class="col-md-1">
         <div class="calc-headers-scores">
        </div>
        <span class="range-text">{{clientTierScore?.MultiplierScore.MaxValue}}</span>
      </div>
    </div>
    <div class="row" style="margin-top: 43px">
      <div class="col-md-2">
        <h2>Work Timing</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Score</span>
        </div>
        <div class="score-box-yellow">
          <span>{{clientTierScore?.TimelinessScore.Score}}</span>
        </div>
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Weighted</span>
        </div>
        <div class="score-box-grey">
          <span>{{clientTierScore?.TimelinessScore.Weighted}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="calc-headers-scores">
          <span>Original Value</span>
        </div>
        <div class="score-box-grey">
          <span>{{parentAnalysisData?.PeakPercent}}%</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="calc-headers-scores">
          <span>Test Value</span>
        </div>
        <input type="text" class="form-control score-box-blue" [(ngModel)]="workTimingVal" id="work-timing-test-val" (change)="updateWorkTiming()">
      </div>
      <div class="col-md-1">
         <div class="calc-headers-scores">
        </div>
        <span class="range-text">{{clientTierScore?.TimelinessScore.MaxValue}}%</span>
      </div>
      <div class="col-md-4">
         <div class="calc-headers-scores">
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="clientTierScore?.TimelinessScore.ProgressPercent | percent">{{displayData?.PeakPercent }}% </div>
        </div>
      </div>
      <div class="col-md-1">
         <div class="calc-headers-scores">
        </div>
        <span class="range-text">{{clientTierScore?.TimelinessScore.MinValue}}%</span>
      </div>
    </div>
    <div class="row" style="margin-top: 43px">
      <div class="col-md-3">
        <h2>Service Touches</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Score</span>
        </div>
        <div class="score-box-yellow">
          <span>{{clientTierScore?.ServiceTouchesScore.Score}}</span>
        </div>
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Weighted</span>
        </div>
        <div class="score-box-grey">
          <span>{{clientTierScore?.ServiceTouchesScore.Weighted}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="calc-headers-scores">
          <span>Original Value</span>
        </div>
        <div class="score-box-grey">
          <span>{{parentAnalysisData?.ServiceTouchCount}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="calc-headers-scores">
          <span>Test Value</span>
        </div>
        <input type="text" class="form-control score-box-blue" [(ngModel)]="serviceTouch" id="service-test-val" (change)="updateService()">
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
        </div>
        <span class="range-text">{{clientTierScore?.ServiceTouchesScore.MinValue}}</span>
      </div>
      <div class="col-md-4">
        <div class="calc-headers-scores">
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="clientTierScore?.ServiceTouchesScore.ProgressPercent | percent">{{displayData?.ServiceTouchCount }} </div>
        </div>
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
        </div>
        <span class="range-text">{{clientTierScore?.ServiceTouchesScore.MaxValue}}</span>
      </div>
    </div>
    <div class="row" style="margin-top: 43px">
      <div class="col-md-3">
        <h2>Payment Timeliness</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Score</span>
        </div>
        <div class="score-box-yellow">
          <span>{{clientTierScore?.PaymentScore.Score}}</span>
        </div>
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
          <span>Weighted</span>
        </div>
        <div class="score-box-grey">
          <span>{{clientTierScore?.PaymentScore.Weighted}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="calc-headers-scores">
          <span>Original Value</span>
        </div>
        <div class="score-box-grey">
          <span>{{parentAnalysisData?.PaymentTimeliness}}</span>
        </div>
      </div>
      <div class="col-md-2">
        <div class="calc-headers-scores">
          <span>Test Value</span>
        </div>
        <input type="text" class="form-control score-box-blue" [(ngModel)]="payment" id="payment-test-val" (change)="updatePayment()">
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
        </div>
        <span class="range-text">{{clientTierScore?.PaymentScore.MaxValue}}</span>
      </div>
      <div class="col-md-4">
        <div class="calc-headers-scores">
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.width]="clientTierScore?.PaymentScore.ProgressPercent | percent">{{displayData?.PaymentTimeliness}}</div>
        </div>
      </div>
      <div class="col-md-1">
        <div class="calc-headers-scores">
        </div>
        <span class="range-text">{{clientTierScore?.PaymentScore.MinValue}}</span>
      </div>
    </div>
    <div class="row" style="margin-top: 43px">
      <div class="col-md-2">
        <h2>Total Score</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 offset-md-1">
        <div class="calc-headers-scores">
          <span>Weighted</span>
        </div>
        <div class="score-box-grey">
          <span>{{clientTierScore?.Tier.Weighted}}</span>
        </div>
      </div>
      <div class="col-md-1 offset-md-4">
        <div class="calc-headers-scores">
        </div>
      <span class="range-text">{{clientTierScore?.Tier.MinValue}}</span>
    </div>
    <div class="col-md-4">
      <div class="calc-headers-scores">
        </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" [style.width]="clientTierScore?.Tier.ProgressPercent | percent">{{clientTierScore?.Tier.Weighted}}</div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="calc-headers-scores">
        </div>
      <span class="range-text">{{clientTierScore?.Tier.MaxValue}}</span>
    </div>
  </div>
</div>
