<div class="row">
  <div class="col-md-2">
    <app-side-bar [menuItemId]="menuItemId"></app-side-bar>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-top: 20px">
        <h2>Billing</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-top: 20px">
        <h2>Realization</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-top: 20px">
        <h2>Billing Realization Multiplier</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-top: 20px">
        <h2>Work Timing</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-top: 20px">
        <h2>Service Touches</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-top: 20px">
        <h2>Payment Timeliness</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-top: 20px">
        <h2>Total Score</h2>
      </div>
    </div>
  </div>
</div>