<div class="row">
  <div class="col-md-2">
    <app-side-bar [menuItemId]="menuItemId"></app-side-bar>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ title }}</h1>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-5">
        <h2>Parent</h2>
      </div>
      <div class="col-md-3">
        <h2>Tier</h2>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-block" (click)="reset()">Reset</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="box">
          <span class="box-span">{{parentAnalysisData?.ClientName}}</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="box">
          <span class="box-span">{{clientTierScore?.Tier.Score}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-top: 43px">
        <div class="row">
          <div class="col-md-3 offset-md-2">
            <span class="calc-headers-scores">Score</span>
            <span class="calc-headers-scores">Weighted Score</span>
            <span class="calc-headers-scores">Test Value</span>
          </div>
          <div class="col-md-2 offset-md-3 calc-headers">
            <p>To Next Level</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <p>Billings</p>
          </div>
          <div class="col-md-3">
            <div class="score-box-yellow">
              <span class="box-span">{{clientTierScore?.BillingScore.Score}}</span>
            </div>
            <div class="score-box-grey">
              <span class="box-span">{{clientTierScore?.BillingWeighted}}</span>
            </div>
            <input type="text" class="score-box-grey" [(ngModel)]="billingVal" id="billing-test-val" (change)="updateBilling()">
          </div>
          <div class="col-md-1">
            <p class="range-text">{{clientTierScore?.BillingScore.MinValue | currency: 'USD': true}}</p>
          </div>
          <div class="col-md-3">
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width]="clientTierScore?.BillingScore.ProgressPercent | percent">${{displayData?.Billings}} </div>
            </div>
          </div>
          <div class="col-md-1">
            <p class="range-text">{{clientTierScore?.BillingScore.MaxValue | currency: 'USD': true}}</p>
          </div>
          <div class="col-md-2">
            <div class="score-box-blue">
              <span class="box-span">{{clientTierScore?.BillingScore.ToNextLevel | currency: 'USD' : true}}</span>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 35px">
          <div class="col-md-2">
            <p>Realization</p>
          </div>
          <div class="col-md-3">
            <div class="score-box-yellow">
              <span class="box-span">{{clientTierScore?.RealizationScore.Score}}</span>
            </div>
            <div class="score-box-grey">
              <span class="box-span">N/A</span>
            </div>
            <input type="text" class="score-box-grey" [(ngModel)]="realizationVal" id="realization-test-val" (change)="updateRealization()">
          </div>
          <div class="col-md-1">
            <p class="range-text">{{clientTierScore?.RealizationScore.MinValue }}%</p>
          </div>
          <div class="col-md-3">
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width]="clientTierScore?.RealizationScore.ProgressPercent | percent">{{displayData?.Realization}}%</div>
            </div>
          </div>
          <div class="col-md-1">
            <p class="range-text">{{clientTierScore?.RealizationScore.MaxValue}}%</p>
          </div>
          <div class="col-md-2">
            <div class="score-box-blue">
              <span class="box-span">{{clientTierScore?.RealizationScore.ToNextLevel}}%</span>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 35px">
          <div class="col-md-2">
            <p>Billing Realization Multiplier</p>
          </div>
          <div class="col-md-3">
            <div class="score-box-yellow">
              <span class="box-span">{{clientTierScore?.MultiplierScore.Score}}</span>
            </div>
            <div class="score-box-grey">
              <span class="box-span">{{clientTierScore?.MultiplierWeighted}}</span>
            </div>
          </div>
          <div class="col-md-1">
            <p class="range-text">{{clientTierScore?.MultiplierScore.MinValue}}</p>
          </div>
          <div class="col-md-3">
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width]="clientTierScore?.MultiplierScore.ProgressPercent | percent">{{clientTierScore?.MultiplierWeighted}}</div>
            </div>
          </div>
          <div class="col-md-1">
            <p class="range-text">{{clientTierScore?.MultiplierScore.MaxValue}}</p>
          </div>
          <div class="col-md-2">
            <div class="score-box-blue">
              <span class="box-span">{{clientTierScore?.MultiplierScore.ToNextLevel}}</span>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 35px">
          <div class="col-md-2">
            <p>Work Timing</p>
          </div>
          <div class="col-md-3">
            <div class="score-box-yellow">
              <span class="box-span">{{clientTierScore?.TimelinessScore.Score}}</span>
            </div>
            <div class="score-box-grey">
              <span class="box-span">{{clientTierScore?.TimelinessWeighted}}</span>
            </div>
            <input type="text" class="score-box-grey" [(ngModel)]="workTimingVal" id="work-timing-test-val" (change)="updateWorkTiming()">
          </div>
          <div class="col-md-1">
            <p class="range-text">{{clientTierScore?.TimelinessScore.MaxValue | percent}}</p>
          </div>
          <div class="col-md-3">
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width]="clientTierScore?.TimelinessScore.ProgressPercent | percent">{{displayData?.PeakPercent | percent}}</div>
            </div>
          </div>
          <div class="col-md-1">
            <p class="range-text">{{clientTierScore?.TimelinessScore.MinValue | percent}}</p>
          </div>
          <div class="col-md-2">
            <div class="score-box-blue">
              <span class="box-span">{{clientTierScore?.TimelinessScore.ToNextLevel | percent}}</span>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 35px">
          <div class="col-md-2">
            <p>Service Touches</p>
          </div>
          <div class="col-md-3">
            <div class="score-box-yellow">
              <span class="box-span">{{clientTierScore?.ServiceTouchesScore.Score}}</span>
            </div>
            <div class="score-box-grey">
              <span class="box-span">{{clientTierScore?.ServiceTouchWeighted}}</span>
            </div>
            <input type="text" class="score-box-grey" [(ngModel)]="serviceTouch" id="service-touch-test-val" (change)="updateService()">
          </div>
          <div class="col-md-1">
            <p class="range-text">{{clientTierScore?.ServiceTouchesScore.MinValue}}</p>
          </div>
          <div class="col-md-3">
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width]="clientTierScore?.ServiceTouchesScore.ProgressPercent | percent">{{displayData?.ServiceTouchCount}}</div>
            </div>
          </div>
          <div class="col-md-1">
            <p class="range-text">{{clientTierScore?.ServiceTouchesScore.MaxValue}}</p>
          </div>
          <div class="col-md-2">
            <div class="score-box-blue">
              <span class="box-span">{{clientTierScore?.ServiceTouchesScore.ToNextLevel }}</span>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 35px">
          <div class="col-md-2">
            <p>Payment Timeliness</p>
          </div>
          <div class="col-md-3">
            <div class="score-box-yellow">
              <span class="box-span">{{clientTierScore?.PaymentScore.Score}}</span>
            </div>
            <div class="score-box-grey">
              <span class="box-span">{{clientTierScore?.PaymentWeighted}}</span>
            </div>
            <input type="text" class="score-box-grey" [(ngModel)]="payment" id="payment-test-val" (change)="updatePayment()">
          </div>
          <div class="col-md-1">
            <p class="range-text">{{clientTierScore?.PaymentScore.MaxValue}}</p>
          </div>
          <div class="col-md-3">
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width]="clientTierScore?.PaymentScore.ProgressPercent | percent">{{displayData?.PaymentTimeliness}}</div>
            </div>
          </div>
          <div class="col-md-1">
            <p class="range-text">{{clientTierScore?.PaymentScore.MinValue}}</p>
          </div>
          <div class="col-md-2">
            <div class="score-box-blue">
              <span class="box-span">{{clientTierScore?.PaymentScore.ToNextLevel }}</span>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 35px">
          <div class="col-md-2">
            <p>Total Score</p>
          </div>
          <div class="col-md-3">
            <div class="score-box-yellow">
              <span class="box-span">#</span>
            </div>
            <div class="score-box-grey">
              <span class="box-span">{{clientTierScore?.WeightedScore}}</span>
            </div>
            <input type="text" class="score-box-grey" id="realization-test-val">
          </div>
          <div class="col-md-1">
            <p class="range-text">{{clientTierScore?.Tier.MinValue}}</p>
          </div>
          <div class="col-md-3">
            <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width]="clientTierScore?.Tier.ProgressPercent | percent">{{clientTierScore?.WeightedScore}}</div>
            </div>
          </div>
          <div class="col-md-1">
            <p class="range-text">{{clientTierScore?.Tier.MaxValue}}</p>
          </div>
          <div class="col-md-2">
            <div class="score-box-blue">
              <span class="box-span">{{clientTierScore?.Tier.ToNextLevel }}</span>
            </div>
          </div>
        </div>
      </div>