<div class="row">
    <div class="col-md-3">
        <h2>Search Results</h2>
    </div>
    <div class="col-md-9 text-right">
        <span>Period ending :{{currentPeriod.PeriodDate}}</span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Client Id</th>
                    <th>Business Unit</th>
                    <th>Account Director</th>
                    <th>Client Name</th>
                    <th>Tier</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of clientTierList | async">
                    <td>{{ item?.ParentId }}</td>
                    <td>{{ item?.ParentBusinessUnit }}</td>
                    <td>{{ item?.ParentAccountDirector }}</td>
                    <td><a [routerLink]="['/client-tier-details', item?.ParentId]">{{ item?.ParentName }}</a>
                        <div class="row" *ngIf="item?.Children.length > 0">
                            <div class="col-xs-6">
                                <button class="btn btn-primary" type="button" data-toggle="collapse" [attr.data-target]="'#' + item?.ParentId" aria-expanded="false"
                                    [attr.aria-controls]="item?.ParentId">
                                    Button with data-target
                                    </button>
                                    <ol class="collapse" id="{{item?.ParentId}}">
                                        <li *ngFor="let child of item?.Children">
                                            {{child.ChildName}}
                                        </li>
                                    </ol>
                            </div>
                        </div>
                    </td>
                    <td>{{ item?.ParentTier }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="alert alert-danger" role="alert" *ngIf="isSearched && clientTierList?.length === 0">
    No results found. Please try again.
</div>