/* You can add global styles to this file, and also import other style files */
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
body, button {
    font-family: 'Ubuntu', sans-serif;
    color: #58595B;
}
.btn {
    font-size: 14px;
    font-weight: 700 !important;
}

.btn-schenck {
    background-color: #00AFED;
    color: #fff;
}
.btn-schenck:hover {
    background-color: #007EBA
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ruda', sans-serif;
}
h1 {
    color: #007EBA;
    font-size: 24px;
    font-weight: 700;
}
h2 {
    color: #00AFED;
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 20px;
}

.form-control {
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    height: 38px;
}

thead {
    background: #00AFED;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

tbody {
    font-size: .9rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color:rgba(0, 175, 237, 0.1);
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 175, 237, 0.2);
}

.cursor:hover {
    cursor: pointer;
}