/* You can add global styles to this file, and also import other style files */
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
body, button {
    font-family: 'Ubuntu', sans-serif;
    color: #58595B;
}
.btn {
    font-size: 14px;
    font-weight: 700 !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ruda', sans-serif;
}
h1 {
    color: #007EBA;
    font-size: 24px;
    font-weight: 700;
}
h2 {
    color: #00AFED;
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 20px;
}

.form-control {
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
    height: 38px;
}