<div class="row">
    <div class="col-md-2">
        <app-side-bar [menuItemId]="sideMenuItemId"></app-side-bar>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <h1>Individual Business Development Plan</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-plan-header [teamMemberId]="teamMemberId"></app-plan-header>
            </div>
        </div>
    </div>
</div>